<div style="height: 1px; background-color: #777"></div>

<div class="form-component-container">
    <app-search-form-new></app-search-form-new>
</div>

<div class="header">
    <div class="header-text">
        <h1>Moving up?</h1>
        <h3>
            Before you put your home on the market, talk to your Real Estate
            independent agent about how you can work together to sell your home
            - from proper pricing to home staging to negotiating the best offer.
        </h3>
    </div>
</div>

<div class="content">
    <h1>Home Selling Process</h1>

    <div class="process-container">
        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/analytics-icon.png"
                    alt=""
                />
            </div>
            <div class="process-text">Understand the Market</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/price-icon.png"
                    alt=""
                />
            </div>
            <div class="process-text">Price it Right</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/professional-icon.png"
                    alt=""
                />
            </div>
            <div class="process-text">Work with a Professional</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/house-icon.png"
                    alt=""
                />
            </div>
            <div class="process-text">Get the Job Done: Curb Appeal</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/negotiation-icon.png"
                    alt=""
                />
            </div>
            <div class="process-text">Prepare to Negotiate</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/deal-icon.png"
                    alt=""
                />
            </div>
            <div class="process-text">Seal the Deal</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process process-arrow">
            <div><i class="fas fa-chevron-right"></i></div>
        </div>

        <div class="process process-action" style="flex: 6">
            <h1>Let Us Help Sell Your Home</h1>
            <button class="mybutton" (click)="contactAgent()">
                Contact an Agent
            </button>
        </div>
    </div>

    <div class="images-container">
        <div>
            <img src="../../../assets/images/satisfaction.jpg" alt="" />
            <p>A Smarter Approach to Selling</p>
        </div>
        <div>
            <img src="../../../assets/images/contact.jpg" alt="" />
            <p>Contact An Agent</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
