@import "../../../../src/styles.scss";

#section1 {
  width: 100%;
  background-color: #b2b9d5;
}

.main-container {
  background-color: $lightGreyBackground;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.main {
  width: 85%;
  padding: 150px 0;
  font-size: 0.9rem;
  color: #333;
}

.main span {
  font-weight: bold;
}
