@import "../../../../src/styles.scss";

.form-component-container {
    padding: 0 350px;
    margin: auto;
    background-color: #fff;
    border-bottom: 1px solid $darkerGreyBorder;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    background-color: $lightGreyBackground;
    width: 80%;
    align-items: flex-start;
    justify-content: space-between;
    margin: 40px auto;
}

.property-container,
.header-container,
.image-container,
.main-container {
    background-color: #fff;
}

.property-container {
    width: 900px;
    border: 1px solid $darkerGreyBorder;
}

.header-container,
.header,
.image-container,
.main-container,
.main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.header,
.main {
    width: 95%;
    margin-top: 20px;
    justify-content: space-between;
}

.price {
    padding-left: 16px;
    border-left: 2px solid $darkerGreyBorder;
}

.price h2 {
    font-size: 1.4rem;
    color: $green;
}

.image-container img {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.prop-features {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
}

.prop-features div {
    color: #333;
    font-weight: normal;
    font-size: 0.8rem;
    margin-right: 18px;
}

.prop-features i {
    color: $green;
    font-size: 1.4rem;
    margin-right: 6px;
}

.icon-with-number {
    display: flex;
    align-items: center;
}

.prop-price {
    margin-top: 18px;
    line-height: 12px;
}

.prop-price > span {
    color: #333;
    font-weight: 600;
    font-size: 0.8rem;
}

.prop-price h2 {
    font-size: 1.4rem;
    margin-top: 4px;
}

agm-map {
    height: 500px;
}

.tour-this-home {
    padding: 20px;
    width: 22%;
    margin-left: 3%;
    background-color: #fff;
    border: 1px solid $darkerGreyBorder;
}
