<div class="flex-container">

  <div class="main">

    <div class="logo">
      <img src="assets/images/logo.png" alt="">
    </div>

    <div class="navbar">
      <div>
        <a class="active" href="#">Home</a>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Buy
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Buyers Guide</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Rent
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Sell
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Mortgage
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Compare Purchase Rates</a>
          <a href="#">Compare Refinance Rates</a>
        </div>
      </div>
      <div>
        <a href="#">Agents</a>
      </div>
      <div>
        <a href="#">About</a>
      </div>
    </div>

    <div class="user-buttons">
      <div class="tel">
        <i class="fas fa-phone-alt"></i> 1-500-245-1548
      </div>

      <div class="user">
        <i class="fas fa-user-circle user" (click)="openDialog()"></i>
      </div>

      <div class="submit">
        <a href="#">Submit</a>
      </div>
    </div>

  </div>

</div>
