@import "../../../../src/styles.scss";

.main-container,
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.main-container {
  background-color: #444;
}

.main {
  width: 85%;
  padding: 30px 0;
  font-size: 0.9rem;
  color: #ddd;
}
