<div class="main-container">
  <div class="main">
    <div class="top">
      <img src="assets/images/logo.png" alt="">
      <div>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram-square"></i>
      </div>
    </div>
    <div class="center">
      <div>
        <h3>Quick Links</h3>
      </div>
      <div>
        <h3>Contact Us</h3>
      </div>
      <div>
        <h3>Remain Updated</h3>
        <input type="text" name="email" placeholder="Your email address">
        <button>Sign Up</button>
      </div>
    </div>
    <div class="bottom">
      <p>© 2020. All rights reserved.</p>
    </div>
  </div>
</div>
