<div class="top">
    <div><img src="assets/images/logo2-light.png" alt="" /></div>
    <div class="about">
        RealHomesForYou.gr is a leading web portal for property in Europe. We
        specialise in advertising real estate properties for sale and properties
        for rent across Europe. Our properties are advertised by both estate
        agents and private vendors located throughout Europe. Search over 10,000
        properties of all styles and prices. They include traditional and modern
        homes, country and town properties, farms, lakes, chateaux, ski
        properties, coastal properties, building plots and investment property.
    </div>
</div>

<div class="bottom">
    <div class="left">Copyright © 2021 Real Homes Inc.</div>
    <div class="right">
        <span>Terms of Use</span>|<span>Privacy Policy</span>|<span
            >Data Privacy</span
        >
    </div>
</div>
