@import "../../../../src/styles.scss";

.top,
.bottom {
    display: flex;
    flex-wrap: wrap;
}

.top {
    color: #fff;
    background-color: $greenBackground;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 400px;
    padding: 30px 15%;
    font-size: 0.8rem;
}

.top img {
    width: 220px;
}

.about {
    width: 70%;
}

.bottom {
    color: #555;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15%;
    font-size: 0.8rem;
    font-weight: 500;
}
.bottom span {
    margin: 0 14px;
    text-decoration: underline;
}
