<div class="main-container">
  <div class="main">
    <div class="top">
      <img src="assets/images/logo.png" alt="">
      <div>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram-square"></i>
      </div>
    </div>
    <div class="center">
      <p>Quick Links</p>
      <p>Contact Us</p>
      <p>Remain Updated</p>
    </div>
    <div class="bottom">
      <p>© 2020. All rights reserved.</p>
    </div>
  </div>
</div>
