<div class="flex-container">
    <div class="main">
        <div class="logo">
            <img src="assets/images/logo.png" alt="Real Homes logo" />
        </div>

        <div class="navbar">
            <div>
                <a
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLink="/"
                    >Home</a
                >
            </div>

            <div>
                <a routerLinkActive="active" routerLink="/buy">Buy</a>
            </div>

            <div>
                <a routerLinkActive="active" routerLink="/sell">Sell</a>
            </div>

            <div>
                <a routerLinkActive="active" routerLink="/agent/search"
                    >Find an Agent</a
                >
            </div>
        </div>
    </div>
</div>
