<div class="container">
    <div class="slideshow-container">
        <div
            class="mySlides fade"
            style="text-align: center"
            *ngFor="let prop of featuredProperties"
        >
            <div routerLink="/properties/{{ prop.id }}">
                <img
                    src="http://localhost:1337{{ prop.imageSmall.url }}"
                    alt=""
                    style="width: 50%"
                />
                <h1>{{ prop.title }}</h1>
                <h3>
                    Location: {{ prop.location }}<br />
                    For Sale: {{ prop.priceSale }}
                </h3>
            </div>
        </div>

        <a class="prev" (click)="plusSlides(-1)">❮</a>
        <a class="next" (click)="plusSlides(1)">❯</a>
    </div>

    <div style="text-align: center" class="dots-container">
        <span
            *ngFor="let prop of featuredProperties; index as i"
            class="dot"
            (click)="currentSlide(i + 1)"
        ></span>
    </div>
</div>
