<div class="container">

  <div class="header">
    <p class="p1">Check out</p>
    <h1>Featured Properties</h1>
    <p class="p2">View list of our short listed properties</p>
  </div>

  <div class="slideshow-container">
    <div class="mySlides fade" style="text-align: center;" *ngFor="let prop of featuredProperties">
      <img src="{{ prop.imageSm_Path }}" alt="" style="width:70%">
      <h1>{{ prop.title }}</h1>
      <p>{{ prop.description }}</p>
    </div>

    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
  </div>

  <div style="text-align:center">
    <span *ngFor="let prop of featuredProperties; index as i;" class=" dot" (click)="currentSlide(i+1)"></span>
  </div>

</div>
