<div style="height: 1px; background-color: #777"></div>

<div class="form-component-container">
    <app-search-form-new></app-search-form-new>
</div>

<div class="header">
    <div class="header-text">
        <h1>Congratulations!</h1>
        <h3>
            You are thinking about becoming a home owner! The prospect of owning
            your own home is an exciting one. The purchasing process has its
            twists and turns but Real Homes is here to help guide you through
            your home search and purchase.
        </h3>
    </div>
</div>

<div class="content">
    <h1>Home Buying Process</h1>

    <div class="process-container">
        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/notepad-icon.png"
                    alt=""
                />
            </div>
            <div class="process-text">Pre-purchase Planning</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/heart-icon.png"
                    alt=""
                />
            </div>
            <div class="process-text">Lifestyle Evaluation</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/finances-icon.png"
                    alt=""
                />
            </div>
            <div class="process-text">Evaluate Finances</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/house-icon2.png"
                    alt=""
                />
            </div>
            <div class="process-text">Shopping for the perfect house</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process">
            <div class="process-icon">
                <img
                    src="../../../assets/images/process-icons/agent-icon.png"
                    alt=""
                />
            </div>
            <div class="process-text">Work with your Real Homes agent</div>
        </div>

        <div class="process process-dots">
            <div>. . . . .</div>
        </div>

        <div class="process process-arrow">
            <div><i class="fas fa-chevron-right"></i></div>
        </div>

        <div class="process process-action" style="flex: 6">
            <h1>Let Us Help Close Your Home</h1>
            <button (click)="contactAgent()">Contact an Agent</button>
        </div>
    </div>

    <div class="images-container">
        <div>
            <img src="../../../assets/images/register-to-search.jpg" alt="" />
            <p>Register to Save Your Favorite Homes</p>
        </div>
        <div>
            <img src="../../../assets/images/download-app.jpg" alt="" />
            <p>Download the Real Homes Mobile App</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
