<div class="form-component-container">
    <app-search-form-new></app-search-form-new>
</div>

<div class="header">
    <div class="header-text">
        <h1>Congratulations!</h1>
        <p>
            You are thinking about becoming a home owner! The prospect of owning
            your own home is an exciting one. The purchasing process has its
            twists and turns but Real Homes is here to help guide you through
            your home search and purchase.
        </p>
    </div>
</div>

<app-footer></app-footer>
