@import "../../../../src/styles.scss";

.form-component-container {
    padding: 0;
    margin: auto;
    background-color: #fff;
    border-bottom: 1px solid $darkerGreyBorder;
}

.container {
    background-color: $lightGreyBackground;
    margin: 10px auto;
    max-width: 1100px;
}

.header {
    margin: 30px 40px 0 40px;
    text-align: left;
}

.header h2 {
    color: #444;
    font-weight: normal;
}

.noResults {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.props-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.prop {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.prop:hover {
    border-color: $orange;
}

.prop-image {
    flex: 1 1 auto;
    height: 250px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.prop-details {
    flex: 1 1 350px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.prop-text {
    margin-right: 20px;
    cursor: pointer;
}

.prop-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.prop-features div {
    color: #333;
    font-weight: 600;
    font-size: 0.8rem;
    margin-right: 12px;
}

.prop-features i {
    color: #aaa;
    font-size: 1.4rem;
    margin-right: 6px;
}

.icon-with-number {
    display: flex;
    align-items: center;
}

.price-and-heart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.prop-price {
    line-height: 40px;
    cursor: pointer;
}

.prop-price > span {
    color: #333;
    font-weight: normal;
    font-size: 0.8rem;
}

.prop-price h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 22px;
    color: $green;
}

.prop-price h2 span {
    font-size: 1rem;
    font-weight: normal;
}

.favorite {
    position: relative;
    width: 35px;
    height: 35px;
}

.pointer {
    cursor: pointer;
}
.heart-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 26px;
    text-align: center;
}
.white-heart {
    color: #666;
}
.red-heart {
    color: #f00;
}
.spinner {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.heart-icon .text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -100px;
    font-size: 0.8rem;
}

.heart-icon .text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: 35px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.heart-icon:hover .text {
    visibility: visible;
}

@media screen and (min-width: 600px) {
    .form-component-container {
        padding: 0 30px;
    }
    .prop {
        border: 2px solid transparent;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        margin: 20px 40px;
    }
    .prop-features {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .prop-features div {
        margin-right: 18px;
    }

    .heart-icon .text {
        margin-left: -60px;
    }
    .heart-icon .text::after {
        margin-left: -5px;
    }
}

@media screen and (min-width: 992px) {
    .form-component-container {
        padding: 0 80px;
    }
    .container {
        margin: 20px auto;
    }
}

@media screen and (min-width: 1200px) {
    .form-component-container {
        padding: 0 100px;
    }
}

@media screen and (min-width: 1400px) {
    .form-component-container {
        padding: 0 200px;
    }
}
