@import "../../../../src/styles.scss";

.form-component-container {
    padding: 0 30px;
    margin: auto;
    background-color: #fff;
    border-bottom: 1px solid $darkerGreyBorder;
}

.container {
    background-color: $lightGreyBackground;
    margin: 10px auto;
    max-width: 1100px;
}

.header {
    margin: 30px 40px 0 40px;
    text-align: left;
}

.header h2 {
    color: #444;
    font-weight: normal;
}

.noResults {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.props-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.prop {
    display: flex;
    position: relative;
    height: 250px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 40px;
}

.prop:hover {
    border-color: $orange;
}

.prop-image {
    position: relative;
    height: 100%;
    width: auto;
}

.prop-image img {
    display: block;
    margin: 0;
    height: 100%;
    width: auto;
}

.prop-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.prop-text {
    margin-right: 20px;
}

.prop-features {
    display: flex;
    justify-content: flex-start;
}

.prop-features div {
    color: #333;
    font-weight: 600;
    font-size: 0.8rem;
    margin-right: 18px;
}

.prop-features i {
    color: #aaa;
    font-size: 1.4rem;
    margin-right: 6px;
}

.icon-with-number {
    display: flex;
    align-items: center;
}

.prop-price {
    line-height: 12px;
}

.prop-price > span {
    color: #333;
    font-weight: normal;
    font-size: 0.8rem;
}

.prop-price h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 0;
    color: $green;
}

.prop-price h2 span {
    font-size: 1rem;
    font-weight: normal;
}

.heart-icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 25px;
}

.black-heart {
    color: #333;
}

.red-heart {
    color: #f00;
}

.heart:hover {
    cursor: pointer;
}

.heart-icon .text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 0.8rem;
}

.heart-icon .text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.heart-icon:hover .text {
    visibility: visible;
}

@media screen and (min-width: 992px) {
    .form-component-container {
        padding: 0 80px;
    }
    .container {
        margin: 20px auto;
    }
    .prop-details {
        padding: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .form-component-container {
        padding: 0 100px;
    }
}

@media screen and (min-width: 1400px) {
    .form-component-container {
        padding: 0 200px;
    }
}
