@import "../../../../src/styles.scss";

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.main {
  background-color: #fff;
  padding: 2rem;
  width: 25%;
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 4%;
  position: relative;
}

.header {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  margin-top: 0;
}

.phone-icon {
  background-color: $orange;
  color: #fff;
  position: absolute;
  top: 20px;
  left: -38px;
  display: inline-block;
  padding: 7px;
  font-size: 2rem;
}

.phone-icon:after {
  content: '';
  display: block;
  position: absolute;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-left: 14px solid $orange;
  left: 100%;
  top: 0;
}

p {
  color: #666;
}

::placeholder {
  color: #666;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: vertical;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container button {
  width: 100%;
  color: white;
  font-size: 0.9rem;
}

.container button:hover {
  background-color: $greenDarker;
}
