<div class="container" cdkConnectedOverlayBackdropClass="backdropBackground">

  <span mat-dialog-actions class="dialog-close" (click)="closeDialog()">
    <i class="fas fa-times"></i>
  </span>

  <h2>Real Homes</h2>

  <mat-tab-group>
    <mat-tab label="Login">
      <form>
        <label for="name">Username</label><br>
        <input type="text" id="" name="name"><br>
        <label for="password">Password</label><br>
        <input type="text" id="" name="password"><br>
        <button mat-flat-button color="primary">Login</button>
      </form>
    </mat-tab>

    <mat-tab label="Register">
      <form>
        <label for="name">Username</label><br>
        <input type="text" id="" name="name"><br>
        <label for="email">Email</label><br>
        <input type="text" id="" name="email"><br>
        <label for="password">Password</label><br>
        <input type="text" id="" name="password"><br>
        <button mat-flat-button color="primary">Register</button>
      </form>
    </mat-tab>
  </mat-tab-group>

</div>
