<mat-tab-group>
  <mat-tab label="Login">
    <form>
      <label for="name">Username</label><br>
      <input type="text" id="" name="name"><br>
      <label for="password">Password</label><br>
      <input type="text" id="" name="password"><br>
      <button>Login</button>
    </form>
  </mat-tab>

  <mat-tab label="Register">
    <form>
      <label for="name">Username</label><br>
      <input type="text" id="" name="name"><br>
      <label for="email">Email</label><br>
      <input type="text" id="" name="email"><br>
      <label for="password">Password</label><br>
      <input type="text" id="" name="password"><br>
      <button>Register</button>
    </form>
  </mat-tab>
</mat-tab-group>
