@import "../../../../src/styles.scss";

.container {
  background-color: $lightGreyBackground;
}

.header {
  background-color: $lightGreyBackground;
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 2.2rem;
}

.header .p1 {
  font-weight: 500;
  font-size: 1rem;
}

.header .p2 {
  font-weight: 400;
  font-size: 1rem;
  color: #666;
}

.agents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.agent {
  width: 16%;
  background-color: #fff;
  border: 1px solid $darkerGreyBorder;
  margin-bottom: 35px;
  text-align: center;
}

img {
  width: 60%;
  height: auto;
}
