@import "../../../../src/styles.scss";

.container {
    background-color: $lightGreyBackground;
}

.agents-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 60px 0;
}

.agent-container {
    width: 300px;
    margin: 30px;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid $darkerGreyBorder;
    text-align: center;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}

.agent-container:hover {
    cursor: pointer;
}

.agent-container:hover img {
    border: 2px solid transparent;
}

.agent {
    position: relative;
    top: -35px;
}

.agent .mobile {
    color: $green;
}

img {
    width: 60%;
    height: auto;
}
