@import "../../../../src/styles.scss";

$myWidth: 680px;

#section1 {
  width: 100%;
  height: 750px;
  background-image: url(../../../assets/images/house.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.diagonal-1 {
  width: 100%;
  height: 140px;
  background: linear-gradient(to top left, #fff calc(50% - 1px), #fff, $lightGreyBackground calc(50% + 1px));
}

.section5 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 60px;
  width: 100%;
  height: 630px;
  background: linear-gradient(to bottom right, #fff calc(50% - 1px), #fff, $lightGreyBackground calc(50% + 1px));
  background-image: url(../../../assets/images/homepage-bg2.jpg);
}

.section5 p {
  color: #fff;
  font-size: 1rem;
}

.section5 h1 {
  color: #fff;
  font-size: 2.2rem;
}

.section5 button {
  margin: 10px;
  font-weight: 500;
  color: #fff;
  font-size: 0.9rem;
  padding: 14px;
  border: none;
  border-radius: 0;
  background-color: $orange;
}

.triangle-up {
  width: 100%;
  height: 140px;
  background: linear-gradient(to top left, transparent calc(50% - 1px), #fff, #fff calc(50% + 1px));
  position: absolute;
  top: 0;
  left: 0;
}

.triangle-down {
  width: 100%;
  height: 140px;
  background: linear-gradient(to top left, $lightGreyBackground calc(50% - 1px), #fff, transparent calc(50% + 1px));
  position: absolute;
  bottom: 0;
  right: 0;
}
