<div id="section1"></div>

<div id="section2">
    <div class="form-component-container">
        <app-search-form-new></app-search-form-new>
    </div>
</div>

<div id="section3">
    <div class="header bg-grey">
        <p class="p1 text-green">Recent</p>
        <h1>Properties</h1>
        <p class="p2">Check out some of our latest properties.</p>
    </div>
    <app-recent-properties></app-recent-properties>
</div>

<div class="diagonal-1"></div>

<div id="section4">
    <div class="header bg-white">
        <p class="p1 text-green">Check out</p>
        <h1>Featured Properties</h1>
        <p class="p2">View list of our short listed properties</p>
    </div>
    <app-featured-properties></app-featured-properties>
</div>

<div id="section5">
    <div class="triangle-up"></div>
    <div class="triangle-down"></div>

    <div class="header">
        <p class="p1 text-white">Buy or Sell</p>
        <h1 class="text-white">
            Looking to Buy a new property or Sell an existing one?
        </h1>
        <h1 class="text-white">RealHomes provides an awesome solution!</h1>
    </div>

    <div>
        <button>Submit Property</button>
        <button class="browseBtn">Browse Properties</button>
    </div>
</div>

<div id="section6">
    <div class="header bg-grey">
        <p class="p1 text-green">Meet Our</p>
        <h1>Agents</h1>
        <p class="p2">Get in touch with our real estate experts.</p>
    </div>
    <app-agents name="agents"></app-agents>
</div>

<app-footer></app-footer>
