<div id="section1">
  <app-we-call-you></app-we-call-you>
</div>

<div id="section2">
  <app-search-form></app-search-form>
</div>

<div id="section3">
  <app-recent-props></app-recent-props>
</div>

<div class="diagonal-1"></div>

<div id="section4">
  <app-featured-props></app-featured-props>
</div>

<div id="section5">
  <div class="triangle-up"></div>
  <div class="triangle-down"></div>
  <p>Buy or Sell</p>
  <h1>Looking to Buy a new property or Sell an existing one?</h1>
  <h1>RealHomes provides an awesome solution!</h1>
  <div>
    <button>Submit Property</button>
    <button class="browseBtn">Browse Properties</button>
  </div>
</div>

<div id="section6">
  <app-agents></app-agents>
</div>

<app-footer></app-footer>
