@import "../../../../src/styles.scss";

.form-container {
  margin: auto;
}

.main-filters,
.panel,
.fields-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.location-header span {
  color: red;
}

.accordion {
  background-color: #6b6b6b;
  color: #fff;
  padding: 8px;
  margin-right: 25px;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  display: inline-block;
  font-size: 0.9rem;
  transition: 0.4s;
  border-radius: 4px;
}

.accordion:hover {
  background-color: #555;
}

.accordion span {
  margin-left: 10px;
}

.fa-plus,
.fa-minus {
  font-weight: 900;
  font-size: 10px;
}

.panel {
  justify-content: flex-start;
  align-items: baseline;
  font-size: 0.9rem;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel label {
  color: #333;
}

.field {
  margin-right: 15px;
  font-size: 14px;
  color: #555;
}

mat-form-field {
  width: 80px;
}

mat-form-field.location {
  width: 230px;
}

mat-form-field.price {
  width: 110px;
}

mat-form-field.prop_id {
  width: 180px;
}

.mat-typography h3 {
  margin: 0;
}

.mat-typography p {
  margin: 0;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  /* padding: 1em 0 1em 0; */
  padding: 0.5em 0 0.8em 0;
}
