<div class="form-container">

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="main-filters">

      <div class="fields-container">

        <div class="field">
          <h3 class="location-header"> Location <span *ngIf="emptyLocationField">* this field is required</span></h3>
          <mat-form-field class="location" appearance="outline">
            <input [ngModel]="selectedLocation" name="location" matInput
              placeholder="Search for City, Region, Country...">
          </mat-form-field>
        </div>

        <div class="field">
          <h3>Min Price</h3>
          <mat-form-field class="price" appearance="outline">
            <mat-select [ngModel]="selectedMinPrice" name="min_price">
              <mat-option [value]="option.value" *ngFor="let option of prices">{{ option.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="field">
          <h3>Max Price</h3>
          <mat-form-field class="price" appearance="outline">
            <mat-select [ngModel]="selectedMaxPrice" name="max_price">
              <mat-option [value]="option.value" *ngFor="let option of prices">{{ option.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="field">
          <h3>Min Beds</h3>
          <mat-form-field appearance="outline">
            <mat-select [ngModel]="selectedBeds" name="min_beds">
              <mat-option [value]="option.value" *ngFor="let option of beds">{{ option.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="field">
          <h3>Min Baths</h3>
          <mat-form-field appearance="outline">
            <mat-select [ngModel]="selectedBaths" name="min_baths">
              <mat-option [value]="option.value" *ngFor="let option of baths">{{ option.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <p class="accordion" (click)="toggleAccordian()">
          <!-- <i id="fa-symbol" class="fa fa-plus-square-o"></i> -->
          <i id="fa-symbol" class="fa fa-plus"></i>
          <span>More Filters</span>
        </p>

        <div class="field">
          <button type="submit" mat-flat-button color="primary">Search</button>
        </div>

      </div>

    </div>

    <div class="extra-filters">

      <div id="panel" class="panel">

        <div class="fields-container">

          <div class="field">
            <h3>Min Area (sq ft)</h3>
            <mat-form-field class="price" appearance="outline">
              <mat-select [ngModel]="selectedMinArea" name="min_area">
                <mat-option [value]="option.value" *ngFor="let option of area">{{ option.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="field">
            <h3>Max Area (sq ft)</h3>
            <mat-form-field class="price" appearance="outline">
              <mat-select [ngModel]="selectedMaxArea" name="max_area">
                <mat-option [value]="option.value" *ngFor="let option of area">{{ option.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="field">
            <h3>Min Year Built</h3>
            <mat-form-field class="price" appearance="outline">
              <mat-select [ngModel]="selectedMinYear" name="min_year">
                <mat-option [value]="option.value" *ngFor="let option of year">{{ option.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="field">
            <h3>Max Year Built</h3>
            <mat-form-field class="price" appearance="outline">
              <mat-select [ngModel]="selectedMaxYear" name="max_year">
                <mat-option [value]="option.value" *ngFor="let option of year">{{ option.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="field">
            <h3>Property ID</h3>
            <mat-form-field class="prop_id" appearance="outline">
              <input matInput ngModel name="property_id">
            </mat-form-field>
          </div>

        </div>

        <div class="fields-container" id="checkboxes">

          <div class="field">
            <mat-checkbox ngModel name="heating" class="">Central Heating</mat-checkbox>
          </div>

          <div class="field">
            <mat-checkbox ngModel name="cooling" class="">Central Cooling</mat-checkbox>
          </div>

          <div class="field">
            <mat-checkbox ngModel name="rv_boat" class="">RV/Boat Parking</mat-checkbox>
          </div>

          <div class="field">
            <mat-checkbox ngModel name="two_stories" class="">2 Stories</mat-checkbox>
          </div>

          <div class="field">
            <mat-checkbox ngModel name="deck_patio" class="">Deck/Patio</mat-checkbox>
          </div>

          <div class="field">
            <mat-checkbox ngModel name="fireplace" class="">Fireplace</mat-checkbox>
          </div>

          <div class="field">
            <mat-checkbox ngModel name="swimming_pool" class="">Swimming Pool</mat-checkbox>
          </div>

        </div>

      </div>

    </div>

  </form>

</div>
