<div class="container">
    <div class="slideshow-container">
        <div
            class="mySlides fade"
            style="text-align: center"
            *ngFor="let prop of properties"
        >
            <div routerLink="/properties/{{ prop.id }}">
                <img [src]="prop.image_small_url" alt="" style="width: 80%" />
                <h1>{{ prop.title }}</h1>
                <h3>
                    Location: {{ prop.location }}<br />
                   <span>{{ prop.priceSale | currency: "EUR":"symbol":"1.0-0" }}</span>
                </h3>
            </div>
        </div>

        <a class="prev" (click)="plusSlides(-1)">❮</a>
        <a class="next" (click)="plusSlides(1)">❯</a>
    </div>

    <div style="text-align: center" class="dots-container">
        <span
            *ngFor="let prop of properties; index as i"
            class="dot"
            (click)="currentSlide(i + 1)"
        ></span>
    </div>
</div>
