@import "../../../../src/styles.scss";

.form-container {
    margin: auto;
    padding: 15px;
}

.fields-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-end;
}

.field {
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

mat-form-field.location {
    width: 240px;
}

// .mat-form-field-appearance-outline .mat-form-field-infix {
//     padding: 1em 0 1em 0;
// }

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
    background-color: #fff;
}
