@import "../../../../src/styles.scss";

.container {
    background-color: $lightGreyBackground;
    margin: 20px auto;
    max-width: 1700px;
}

.form-component-container {
    padding: 0 350px;
    margin: auto;
    background-color: #fff;
    border-bottom: 1px solid $darkerGreyBorder;
}

.header {
    margin: 40px 40px 0 40px;
    text-align: center;
}

.noFavorite {
    display: flex;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
}

.props-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.prop {
    flex-basis: 400px;
    background-color: #fff;
    border: 1px solid $darkerGreyBorder;
    margin: 20px 40px 40px 40px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}

.img-container {
    position: relative;
    width: 100%;
}

.img-container img {
    display: block;
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(0, 150, 136, 0.7);
}

.img-container:hover .img-overlay {
    opacity: 1;
}

.text-overlay {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    border: 2px solid #fff;
    padding: 14px;
    transition: 0.4s ease;
}

.text-overlay:hover {
    color: $green;
    background-color: #fff;
    cursor: pointer;
}

.trash-icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 8px;
    font-size: 25px;
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
    cursor: pointer;
}

.prop-text {
    padding: 15px 20px 20px 20px;
}

.prop-features {
    display: flex;
    justify-content: flex-start;
}

.prop-features div {
    color: #333;
    font-weight: 600;
    font-size: 0.8rem;
    margin-right: 18px;
}

.prop-features i {
    color: #aaa;
    font-size: 1.4rem;
    margin-right: 6px;
}

.icon-with-number {
    display: flex;
    align-items: center;
}

.prop-price {
    margin-top: 18px;
    line-height: 12px;
}

.prop-price > span {
    color: #333;
    font-weight: normal;
    font-size: 0.8rem;
}

.prop-price h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 4px;
    margin-bottom: 0;
    color: $green;
}

.prop-price h2 span {
    font-size: 1rem;
    font-weight: normal;
}

/* Set a style for all buttons */
button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.modal-container {
    background-color: #fff;
    width: 30%;
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: flex; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(150, 150, 150, 0.5);
    padding-top: 50px;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}
