<!-- <div class="container" *ngIf="isLoading" style="text-align:center">
  <app-loading-spinner></app-loading-spinner>
</div> -->

<div class="container">
    <h2>My Favorite Homes</h2>

    <div *ngIf="properties.length < 1">
        <p>There are no favorite homes.</p>
    </div>

    <div *ngIf="properties.length > 0">
        <div
            class="property"
            style="text-align: center"
            *ngFor="let prop of properties"
        >
            <div routerLink="/properties/{{ prop.id }}">
                <img
                    src="http://localhost:1337{{ prop.imageSmall.url }}"
                    alt=""
                />
                <h1>{{ prop.title }}</h1>
                <p>{{ prop.description }}</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
