@import "../../../../src/styles.scss";

.form-component-container {
    padding: 0;
    margin: auto;
    background-color: #fff;
    border-bottom: 1px solid $darkerGreyBorder;
}

.container {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.left-background {
    height: 300px;
    width: 0;
    bottom: 0;
    left: 0;
    align-self: flex-end;
    background: #fff url(../../../assets/images/findanagent-left.jpg);
    background-repeat: repeat-x;
    background-position: left bottom;
}

.right-background {
    height: 300px;
    width: 0;
    bottom: 0;
    left: 0;
    align-self: flex-end;
    background: #fff url(../../../assets/images/findanagent-right.jpg);
    background-repeat: repeat-x;
    background-position: right bottom;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    //padding: 40px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #fff;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url(../../../assets/images/findanagent.jpg),
        url(../../../assets/images/findanagent-left.jpg);
    background-position: right bottom, left bottom;
    background-repeat: no-repeat, repeat-x;
    background-size: 100%;
}

form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.search-header {
    color: #666;
    margin-top: 8px;
}

mat-form-field.myfield {
    width: 300px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.8em 0;
}

.mat-tab-group {
    border: 1px solid $darkerGreyBorder;
    //padding: 15px 30px;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #fff;
}

.choose-an-area {
    width: 60%;
    min-height: 420px;
}

.areas-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 520px;
}

.area {
    width: 130px;
    height: 24px;
    cursor: pointer;
}

.area:hover {
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    .form-component-container {
        padding: 0 30px;
    }
}

@media screen and (min-width: 800px) {
    .areas-container {
        height: 450px;
    }
}

@media screen and (min-width: 992px) {
    .form-component-container {
        padding: 0 80px;
    }
    .areas-container {
        height: 370px;
    }
    .right-background {
        width: 10%;
    }
    .left-background {
        width: 10%;
    }
}

@media screen and (min-width: 1200px) {
    .form-component-container {
        padding: 0 100px;
    }
    .right-background {
        width: 20%;
    }
    .left-background {
        width: 20%;
    }
}

@media screen and (min-width: 1400px) {
    .form-component-container {
        padding: 0 200px;
    }
    .right-background {
        width: 30%;
    }
    .left-background {
        width: 30%;
    }
}

@media screen and (min-width: 1600px) {
    .right-background {
        width: 40%;
    }
    .left-background {
        width: 40%;
    }
}
