<div style="height: 1px; background-color: #777"></div>

<div class="form-component-container">
    <app-search-form-new></app-search-form-new>
</div>

<div class="container">
    <div class="left-background"></div>
    <div class="main">
        <h1>Find a Realtor Near You</h1>
        <p>
            Search by city or agent name below to find the right local realtor
            for you.
        </p>

        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Search by Location">
                <form (ngSubmit)="onSubmitLocation(f1)" #f1="ngForm">
                    <div class="field">
                        <h3 class="search-header">Type in a City</h3>
                        <mat-form-field class="myfield" appearance="outline">
                            <input
                                [ngModel]="location"
                                name="location"
                                matInput
                                placeholder="Type in a City..."
                            />
                        </mat-form-field>
                    </div>
                    <div class="field">
                        <button class="mybutton" type="submit">
                            Find an Agent
                        </button>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="Search by Agent Name">
                <form (ngSubmit)="onSubmitName(f2)" #f2="ngForm">
                    <div class="field">
                        <h3 class="search-header">
                            Type in First Name and Last Name
                        </h3>
                        <mat-form-field class="myfield" appearance="outline">
                            <input
                                [ngModel]="name"
                                name="name"
                                matInput
                                placeholder="Type in First Name and Last Name..."
                            />
                        </mat-form-field>
                    </div>
                    <div class="field">
                        <button class="mybutton" type="submit">
                            Find an Agent
                        </button>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>

        <p>
            Selecting a real estate agent is an important first step when buying
            or selling a home. Real Homes agents are experienced local experts
            who are familiar with the market and are prepared to assist with all
            of your real estate needs. Contact a Real Homes agent today to get
            started.
        </p>

        <div
            style="
                width: 300px;
                border-bottom: 1px solid #ccc;
                height: 1px;
                margin: 20px 0;
                text-align: center;
            "
        >
            <span
                style="
                    background-color: #fff;
                    color: #000;
                    font-weight: 700;
                    padding: 10px;
                    position: relative;
                    top: -8px;
                "
                >OR
            </span>
        </div>

        <div class="choose-an-area">
            <p>
                Choose an area from the list below to find local Real Homes
                agents.
            </p>

            <div class="areas-container">
                <div
                    class="area"
                    (click)="findAgentsByLocation(area.name)"
                    *ngFor="let area of areas"
                >
                    {{ area.name }}
                </div>
            </div>
        </div>
    </div>
    <div class="right-background"></div>
</div>

<app-footer></app-footer>
