<div style="height: 1px; background-color: #777"></div>

<div class="form-component-container">
    <app-search-form-new></app-search-form-new>
</div>

<div class="container">
    <h1>Find a Realtor Near You</h1>
    <p>
        Search by city, zip code, or agent name below to find the right local
        realtor for you.
    </p>
    <p>
        Selecting a real estate agent is an important first step when buying or
        selling a home. ERA agents are experienced local experts who are
        familiar with the market and are prepared to assist with all of your
        real estate needs. Contact a ERA agent today to get started.
    </p>
</div>

<app-footer></app-footer>
