<div class="container" *ngIf="isLoading" style="text-align:center">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="container" *ngIf="!isLoading">
  <div *ngIf="error" class="errorMessage">{{ error }}</div>
  <h2>Welcome in Real Homes!</h2>

  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <div>
      <label for="name">Username</label>
      <input type="text" id="name" name="name" ngModel required autofocus />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" ngModel required />
    </div>
    <div>
      <!-- <button (click)="login(true)"> -->
      <button type="submit">Login</button>
      New to Real Homes? <a routerLink="/signup">Create an account</a>
    </div>
  </form>

</div>

<app-footer></app-footer>
