<div class="container" cdkConnectedOverlayBackdropClass="backdropBackground">

  <span mat-dialog-actions class="dialog-close" (click)="closeDialog()">
    <i class="fas fa-times"></i>
  </span>

  <h2>Welcome in Real Homes</h2>
  <p>Sign in to save your favorite homes and searches!</p>

  <form>
    <label for="name">Username</label><br>
    <input type="text" id="" name="name"><br>
    <label for="password">Password</label><br>
    <input type="text" id="" name="password"><br>
    <button>Login</button>
    <p>
      <span (click)="closeDialog()"><a routerLink="/signup">Sign Up</a></span><br>
      <span>Forgot your username?</span><br>
      <span>Forgot your password?</span></p>
  </form>

  <!-- <mat-tab-group>
    <mat-tab label="Login">
      <form>
        <label for="name">Username</label><br>
        <input type="text" id="" name="name"><br>
        <label for="password">Password</label><br>
        <input type="text" id="" name="password"><br>
        <button>Login</button>
      </form>
    </mat-tab>

    <mat-tab label="Register">
      <form>
        <label for="name">Username</label><br>
        <input type="text" id="" name="name"><br>
        <label for="email">Email</label><br>
        <input type="text" id="" name="email"><br>
        <label for="password">Password</label><br>
        <input type="text" id="" name="password"><br>
        <button>Register</button>
      </form>
    </mat-tab>
  </mat-tab-group> -->

</div>
