<div class="flex-container">
  <div class="main">

    <p class="p1">Recent</p>
    <h1>Properties</h1>
    <p class="p2">Check out some of our latest properties.</p>

    <div class="props-container">
      <div style="width: 30%;" *ngFor="let props of recentProperties">
        <img src="{{ props.imagePath}}" alt="">
        <h1>{{ props.title }}</h1>
        <p>{{ props.description }}</p>
        <h2>{{ props.price | currency:'EUR':'symbol':'1.0-0' }}</h2>
      </div>
    </div>

  </div>
</div>
