@import "../../../../src/styles.scss";

.flex-container,
.main,
.navbar,
.user-buttons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: transparent;
}

.flex-container {
  justify-content: center;
  background-color: #044849;
}

.main {
  width: 100%;
  justify-content: space-between;
}

.main>div {
  flex: 1 1 auto;
}

.user-buttons {
  justify-content: flex-end;
}

.user-buttons>div {
  padding: 5px;
  color: #fff;
}

.dropbtn .fa {
  font-size: 0.7rem;
}

.tel .fas {
  font-size: 1.2rem;
  margin-right: 6px;
}

.tel span {
  font-size: 1rem;
  font-weight: 500;
}

.user .fas {
  font-size: 2rem;
}

.user i:hover {
  cursor: pointer;
}

.submit button {
  background-color: $green;
  font-weight: 500;
  font-size: 0.9rem;
  padding: $padding;
}

.submit button:hover {
  background-color: $greenDarker;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 95%;
  }
}
