<div class="flex-container">

  <div class="main">

    <div class="diagonal"></div>

    <div class="user-buttons">
      <div class="tel">
        <i class="fas fa-phone-alt"></i> <span>1-500-245-1548</span>
      </div>

      <!-- <div class="user">
        <i class="fas fa-user-circle user" (click)="openDialog()"></i>
      </div> -->

      <div *ngIf="isLoginMode" class="dropdown user">
        <i class="fas fa-user-circle user"></i>
        <div class="dropdown-content">
          <a routerLink="/">My favorite homes</a>
          <a routerLink="/">My searches</a>
          <a class="logout" (click)="logout()">Log out</a>
        </div>
      </div>

      <div>
        <button *ngIf="!isLoginMode" class="btn btnLogin" (click)="goToLoginPage()">Log in</button>
        <button *ngIf="!isLoginMode" class="btn btnSignup" (click)="goToSignupPage()">Sign up</button>
      </div>

      <div class="dropdown">
        <button class="dropbtn">EN
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/index-gr">GR</a>
        </div>
      </div>

    </div>

  </div>

</div>
