@import "../../../../src/styles.scss";

.flex-container,
.main,
.user-buttons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: transparent;
}

.flex-container {
  justify-content: center;
  background-color: #044849;
}

.main {
  width: 100%;
  justify-content: flex-end;
}

.main>div {
  flex: 0 1 auto;
}

.diagonal {
  width: 20px;
  height: 46px;
  background: linear-gradient(to top left, #fd7955 calc(50% - 1px), #fd7955, #044849 calc(50% + 1px));
}

.user-buttons {
  height: 46px;
  padding-right: 15px;
  justify-content: flex-end;
  background-color: #fd7955;
}

.user-buttons>div {
  margin-right: 10px;
  padding: 5px;
  color: #fff;
}

.dropbtn .fa {
  font-size: 0.7rem;
}

.tel .fas {
  font-size: 1.2rem;
  margin-right: 6px;
}

.tel span {
  font-size: 1rem;
  font-weight: 500;
}

.user .fas {
  font-size: 2rem;
}

.user i:hover {
  cursor: pointer;
}

.submit a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
}

// .submit button {
//   background-color: $green;
//   font-weight: 500;
//   font-size: 0.9rem;
//   padding: $padding;
// }

// .submit button:hover {
//   background-color: $greenDarker;
// }

@media screen and (max-width: 1200px) {
  .main {
    width: 95%;
  }
}
