<div class="flex-container">
    <div class="main">
        <div class="diagonal"></div>

        <div class="user-buttons">
            <div class="tel">
                <i class="fas fa-phone-alt"></i> <span>1-500-245-1548</span>
            </div>

            <div *ngIf="isAuthenticated" class="dropdown user">
                <div class="user-icon">
                    <i class="fas fa-user-circle user"></i
                    ><span>My Account</span>
                </div>
                <div class="dropdown-content">
                    <a style="font-size: 16px">{{ user.username }}</a>
                    <a style="font-size: 13px">{{ user.email }}</a>
                    <hr />
                    <a routerLink="/user">My favorite homes</a>
                    <a class="logout" (click)="onLogout()">Log out</a>
                </div>
            </div>

            <div *ngIf="!isAuthenticated">
                <button class="btn btnLogin" (click)="goToLogin()">
                    Log in
                </button>
                <button class="btn btnSignup" (click)="goToSignup()">
                    Sign up
                </button>
            </div>
        </div>
    </div>
</div>
