<div class="form-container">
  <div class="main">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="main-filters">

        <div class="option-wrapper small location">
          <p>Location</p>
          <input ngModel type="text" name="location" size="20" maxlength="16"
            placeholder="Search for City, Region, Country...">
        </div>

        <div class="option-wrapper small">
          <p>Min Price</p>
          <div class="custom-select">
            <select name="min_price">
              <option value="any" selected="selected">Any</option>
              <option value="any">Any</option>
              <option value="100000">100000</option>
              <option value="200000">200000</option>
              <option value="300000">300000</option>
              <option value="500000">500000</option>
              <option value="700000">700000</option>
              <option value="1000000">1000000</option>
              <option value="1200000">1200000</option>
              <option value="1500000">1500000</option>
            </select>
          </div>
        </div>

        <div class="option-wrapper small">
          <p>Max Price</p>
          <div class="custom-select">
            <select name="max_price">
              <option value="any" selected="selected">Any</option>
              <option value="any">Any</option>
              <option value="100000">100000</option>
              <option value="200000">200000</option>
              <option value="300000">300000</option>
              <option value="500000">500000</option>
              <option value="700000">700000</option>
              <option value="1000000">1000000</option>
              <option value="1200000">1200000</option>
              <option value="1500000">1500000</option>
            </select>
          </div>
        </div>

        <div class="option-wrapper small">
          <p>Min Beds</p>
          <div class="custom-select">
            <select name="beds">
              <option value="any" selected="selected">Any</option>
              <option value="any">Any</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>

        <div class="option-wrapper small">
          <p>Min Baths</p>
          <div class="custom-select">
            <select name="baths">
              <option value="any" selected="selected">Any</option>
              <option value="any">Any</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>

        <div style="align-self: flex-end" class="option-wrapper small">
          <!-- <button routerLink="/results">Search</button> -->
          <button type="submit">Search</button>
        </div>

      </div>

      <div class="extra-filters">

        <p class="accordion" (click)="toggleAccordian()">
          <!-- <i id="fa-symbol" class="fa fa-plus-square-o"></i> -->
          <i id="fa-symbol" class="fa fa-plus"></i>
          <span>More Filters</span>
        </p>

        <div id="panel" class="panel">

          <div class="extra-filters-select">

            <div class="option-wrapper small">
              <p>Min Area (sq ft)</p>
              <div class="custom-select">
                <select ngForm name="min_area">
                  <option value="any" selected="selected">Any</option>
                  <option value="any">Any</option>
                  <option value="150">150</option>
                  <option value="250">250</option>
                  <option value="400">400</option>
                  <option value="500">500</option>
                  <option value="600">600</option>
                </select>
              </div>
            </div>

            <div class="option-wrapper small">
              <p>Max Area (sq ft)</p>
              <div class="custom-select">
                <select name="max_area">
                  <option value="any" selected="selected">Any</option>
                  <option value="any">Any</option>
                  <option value="150">150</option>
                  <option value="250">250</option>
                  <option value="400">400</option>
                  <option value="500">500</option>
                  <option value="600">600</option>
                </select>
              </div>
            </div>

            <div class="option-wrapper small">
              <p>Min Year Built</p>
              <div class="custom-select">
                <select name="min_year">
                  <option value="any" selected="selected">Any</option>
                  <option value="any">Any</option>
                  <option value="1900">1900</option>
                  <option value="1920">1920</option>
                  <option value="1940">1940</option>
                  <option value="1960">1960</option>
                  <option value="1980">1980</option>
                  <option value="1990">1990</option>
                  <option value="2000">2000</option>
                </select>
              </div>
            </div>

            <div class="option-wrapper small">
              <p>Max Year Built</p>
              <div class="custom-select">
                <select name="max_year">
                  <option value="any" selected="selected">Any</option>
                  <option value="any">Any</option>
                  <option value="1900">1900</option>
                  <option value="1920">1920</option>
                  <option value="1940">1940</option>
                  <option value="1960">1960</option>
                  <option value="1980">1980</option>
                  <option value="1990">1990</option>
                  <option value="2000">2000</option>
                </select>
              </div>
            </div>

            <div class="option-wrapper small propertyid">
              <p>Property ID</p>
              <input type="text" name="property_id" size="16" maxlength="14">
            </div>

          </div>

          <div class="extra-filters-checkbox">

            <div class="ckeckbox-wrapper">
              <label class="container">Central Heating
                <input ngModel type="checkbox" name="heating" value="false">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="ckeckbox-wrapper">
              <label class="container">Central Cooling
                <input type="checkbox" name="cooling" value="false">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="ckeckbox-wrapper">
              <label class="container">Fire Place
                <input type="checkbox" name="fireplace" value="false">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="ckeckbox-wrapper">
              <label class="container">RV/Boat Parking
                <input type="checkbox" name="rv_boat" value="false">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="ckeckbox-wrapper">
              <label class="container">2 Stories
                <input type="checkbox" name="two_stories" value="false">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="ckeckbox-wrapper">
              <label class="container">Deck/Patio
                <input type="checkbox" name="deck_patio" value="false">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="ckeckbox-wrapper">
              <label class="container">Swimming Pool
                <input type="checkbox" name="swimming_pool" value="false">
                <span class="checkmark"></span>
              </label>
            </div>

          </div>

        </div>

      </div>

    </form>

  </div>
</div>
