@import "../../../src/styles.scss";

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: $lightGreyBackground;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  color: #666;
  background-color: #fff;
  width: 80%;
  padding: 20px;
  line-height: 1px;
  border: 1px solid $darkerGreyBorder;
}

form {
  width: 100%;
}

.form_first_row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.form_second_row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 6px;
}

p {
  color: #000;
  font-size: 0.9rem;
}

.form_first_row .select-wrapper {
  width: 20%;
}

.form_second_row .select-wrapper {
  width: 12%;
}

select,
input {
  padding: 6px;
  width: 90%;
}

input[type=submit] {
  background-color: $greenBtn;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: $greenBtnHover;
}
