<div class="flex-container">
  <div class="main">

    <form style="width:100%;" action="">

      <div style="width:100%;">

        <div style="display:inline-block; width:20%;">
          <p>Location</p>
          <select id="location" name="location">
            <option value="volvo">Any</option>
            <option value="greece">Greece</option>
            <option value="france">France</option>
            <option value="spain">Spain</option>
          </select>
        </div>

        <div style="display:inline-block; width:20%;">
          <p>Property Status</p>
          <select id="location" name="location">
            <option value="any">Any</option>
            <option value="sale">For Sale</option>
            <option value="rent">For Rent</option>
          </select>
        </div>

        <div style="display:inline-block; width:20%;">
          <p>Property Type</p>
          <select id="location" name="location">
            <option value="any">Any</option>
            <option value="office">Office</option>
            <option value="shop">Shop</option>
            <option value="appartment">Appartment</option>
          </select>
        </div>

        <div style="display:inline-block; width:20%;">
          <p>Agent</p>
          <select id="location" name="location">
            <option value="volvo">Any</option>
            <option value="saab">John Doe</option>
            <option value="fiat">Julia Smith</option>
            <option value="audi">Ken Brown</option>
          </select>
        </div>

        <div style="display:inline-block; width:20%;">
          <p>Keyword</p>
          <input type="text" id="keyword" name="keyword">
        </div>

      </div>

      <div style="width:100%;">

        <div style="display:inline-block; width:14%;">
          <p>Location</p>
          <select id="location" name="location">
            <option value="volvo">Any</option>
            <option value="greece">Greece</option>
            <option value="france">France</option>
            <option value="spain">Spain</option>
          </select>
        </div>

        <div style="display:inline-block; width:14%;">
          <p>Property Status</p>
          <select id="location" name="location">
            <option value="any">Any</option>
            <option value="sale">For Sale</option>
            <option value="rent">For Rent</option>
          </select>
        </div>

        <div style="display:inline-block; width:14%;">
          <p>Property Type</p>
          <select id="location" name="location">
            <option value="any">Any</option>
            <option value="office">Office</option>
            <option value="shop">Shop</option>
            <option value="appartment">Appartment</option>
          </select>
        </div>

        <div style="display:inline-block; width:14%;">
          <p>Agent</p>
          <select id="location" name="location">
            <option value="volvo">Any</option>
            <option value="saab">John Doe</option>
            <option value="fiat">Julia Smith</option>
            <option value="audi">Ken Brown</option>
          </select>
        </div>

        <div style="display:inline-block; width:14%;">
          <p>Agent</p>
          <select id="location" name="location">
            <option value="volvo">Any</option>
            <option value="saab">John Doe</option>
            <option value="fiat">Julia Smith</option>
            <option value="audi">Ken Brown</option>
          </select>
        </div>

        <div style="display:inline-block; width:14%;">
          <p>Keyword</p>
          <input type="text" id="keyword" name="keyword">
        </div>

        <div style="display:inline-block; width:14%; text-align: right;">
          <input type="submit" value="Search">
        </div>

      </div>

    </form>

  </div>
</div>
