<div class="flex-container">
  <div class="main">

    <form>

      <div class="form-container">

        <div class="option-wrapper large">
          <p>Location</p>
          <select name="location">
            <option value="volvo" selected="selected">Any</option>
            <option value="greece">Greece</option>
            <option value="france">France</option>
            <option value="spain">Spain</option>
          </select>
        </div>

        <div class="option-wrapper large">
          <p>Property Status</p>
          <select id="status" name="status">
            <option value="any">Any</option>
            <option value="sale">For Sale</option>
            <option value="rent">For Rent</option>
          </select>
        </div>

        <div class="option-wrapper large">
          <p>Property Type</p>
          <select id="type" name="type">
            <option value="any">Any</option>
            <option value="office">Office</option>
            <option value="shop">Shop</option>
            <option value="appartment">Appartment</option>
          </select>
        </div>

        <div class="option-wrapper large">
          <p>Agent</p>
          <select id="agent" name="agent">
            <option value="volvo">Any</option>
            <option value="saab">John Doe</option>
            <option value="fiat">Julia Smith</option>
            <option value="audi">Ken Brown</option>
          </select>
        </div>

        <div class="option-wrapper large">
          <p>Keyword</p>
          <input type="text" id="keyword" name="keyword">
        </div>

        <div class="option-wrapper small">
          <p>Min Beds</p>
          <select id="location" name="bed">
            <option value="any">Any</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

        <div class="option-wrapper small">
          <p>Min Baths</p>
          <select id="location" name="bath">
            <option value="any">Any</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

        <div class="option-wrapper small">
          <p>Min Garages</p>
          <select id="location" name="garage">
            <option value="any">Any</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

        <div class="option-wrapper small">
          <p>Min Price</p>
          <select name="min_price">
            <option value="volvo">Any</option>
            <option value="audi">10000</option>
            <option value="audi">50000</option>
            <option value="audi">100000</option>
          </select>
        </div>

        <div class="option-wrapper small">
          <p>Max Price</p>
          <select name="max_price">
            <option value="volvo">Any</option>
            <option value="audi">50000</option>
            <option value="audi">100000</option>
            <option value="audi">200000</option>
            <option value="audi">300000</option>
          </select>
        </div>

        <div class="option-wrapper small">
          <p>Property ID</p>
          <input type="text" name="property_ID">
        </div>

        <div class="option-wrapper small">
          <input type="submit" value="Search">
        </div>

      </div>

      <p class="accordion" (click)="toggleAccordian($event)">Looking for certain features</p>
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>


    </form>

  </div>
</div>
