@import "../../../src/styles.scss";

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: $lightGreyBackground;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #666;
  background-color: #fff;
  width: 80%;
  padding: 20px;
  line-height: 1px;
  border: 1px solid $darkerGreyBorder;
}

form {
  width: 100%;
}

.form-container-row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.form-container-row1>div {
  flex: 1 0 18%;
  margin-right: 2%;
}

.form-container-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.form-container-row2>div {
  flex: 1 0 10%;
  margin-right: 2%;
}

p {
  color: #000;
  font-size: 0.9rem;
}

select {
  padding: 6px;
  width: 100%;
}

input {
  padding: 6px;
  width: 100%;
}

input[type=submit] {
  background-color: $greenBtn;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: $greenBtnHover;
}
