$orangeBtn: #ea723d;
$greenBtn: #1ea69a;
$greenBtnHover: #0f887e;

$lightGreyBackground: #f5f5f5;
$darkerGreyBorder: #e3e3e3;

$padding: 14px;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}
