<div style="height: 1px; background-color: #777"></div>

<div class="form-component-container">
    <app-search-form></app-search-form>
</div>

<div class="agent-container" *ngIf="agent">
    <div class="agent">
        <img [src]="base_url + agent.image.url" alt="" />
        <div>
            <h1>{{ agent.name }}</h1>
            <h3>
                {{ agent.telephone }} <br />
                {{ agent.email }}
            </h3>
        </div>
    </div>
</div>

<div class="main-container" *ngIf="agent">
    <div class="listings-container" *ngIf="agent.properties.length > 0">
        <h1>My Listings</h1>
        <div class="properties">
            <div class="property" *ngFor="let property of agent.properties">
                <img
                    routerLink="/properties/{{ property.id }}"
                    [src]="base_url + property.imageSmall.url"
                    alt=""
                />
                <div class="property-text">
                    <div class="details">
                        <div>{{ property.title }}</div>
                        <div>{{ property.location }}</div>
                    </div>
                    <div class="price">
                        {{
                            property.priceSale
                                | currency: "EUR":"symbol":"1.0-0"
                        }}
                    </div>
                </div>
                <div class="features">
                    <span>{{ property.beds }} bed</span>
                    <span>{{ property.baths }} bath</span>
                    <span>{{ property.area }} m<sup>2</sup></span>
                </div>
            </div>
        </div>
    </div>

    <div class="listings-container" *ngIf="agent.properties.length < 1">
        <h1>My Listings</h1>
        <p>No Properties</p>
    </div>

    <div class="sidebar">
        <div class="areas-container" *ngIf="agent">
            <h1>Areas Served</h1>
            <div class="areas">
                <div class="area" *ngFor="let area of agent.areas">
                    {{ area.name }}
                </div>
            </div>
        </div>

        <app-agent-contact-form
            *ngIf="agent"
            [header]="'Contact ' + agent.name"
            [caption]=""
            [agent_id]=""
            [image_url]=""
            paragraph="Register to start working with this agent."
            [isAuthenticated]="isAuthenticated"
        ></app-agent-contact-form>
    </div>
</div>

<app-footer></app-footer>
