@import "../../../../src/styles.scss";

.form-component-container {
    margin: auto;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid $darkerGreyBorder;
}
.agent-container {
    height: 300px;
    display: flex;
    justify-content: center;
    background-image: url(../../../assets/images/agent-image1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.agent {
    width: 95%;
    height: 150px;
    align-self: flex-end;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.agent img {
    width: 150px;
    height: auto;
    margin-right: 10px;
    box-sizing: content-box;
    border: 4px solid $lightGreyBackground;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1400px;
}

.listings-container {
    flex: 100%;
}

.listings {
    padding: 30px;
    margin: 0;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid $orange;
}

.properties {
    display: flex;
    flex-wrap: wrap;
}

.property {
    margin-right: 30px;
    margin-bottom: 30px;
}

.property img {
    width: 100%;
    cursor: pointer;
}
.property-text {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.details {
    color: #666;
    font-size: 1rem;
}
.details div:first-child {
    font-size: 1.1rem;
}
.price {
    font-size: 1.3rem;
    font-weight: normal;
    color: $green;
}
.features {
    margin-top: 4px;
}
.features span {
    margin-right: 12px;
    font-size: 0.7rem;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 100%;
}
.areas-container {
    padding: 30px;
    margin: 0;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid $orange;
}
.areas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.area {
    margin-right: 8px;
    margin-top: 4px;
    text-align: left;
    color: #666;
    font-size: 0.8rem;
}

app-agent-contact-form {
    border: none;
}

@media screen and (min-width: 600px) {
    .form-component-container {
        padding: 0 30px;
    }
}

@media screen and (min-width: 768px) {
    .agent {
        width: 90%;
        height: 200px;
    }
    .agent img {
        width: 200px;
        margin-right: 20px;
    }
    .listings-container {
        flex: 50%;
    }
    .sidebar {
        flex: 50%;
    }
    .listings {
        padding: 30px;
        margin: 30px;
        background-color: #fff;
        border: 1px solid $darkerGreyBorder;
    }
    .areas-container {
        padding: 30px;
        margin: 30px;
        background-color: #fff;
        border: 1px solid $darkerGreyBorder;
    }
    app-agent-contact-form {
        margin: 30px;
        border: 1px solid $darkerGreyBorder;
    }
}

@media screen and (min-width: 992px) {
    .form-component-container {
        padding: 0 80px;
    }
    .container {
        width: 90%;
    }
    .listings-container {
        flex: 60%;
    }
    .sidebar {
        flex: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .form-component-container {
        padding: 0 100px;
    }
    .agent {
        width: 85%;
    }
    .container {
        width: 85%;
    }
    .listings-container {
        flex: 70%;
    }
    .sidebar {
        flex: 30%;
    }
}

@media screen and (min-width: 1400px) {
    .form-component-container {
        padding: 0 200px;
    }
    .agent {
        width: 70%;
    }
    .container {
        width: 70%;
    }
}
