<div class="flex-container">
  <div class="main">
    <p class="header">Let Us Call You!</p>
    <p>To help you choose your property</p>

    <div class="container">
      <form>

        <input type="text" id="fname" name="firstname" placeholder="Your Name">

        <input type="text" id="lname" name="lastname" placeholder="Your Number">

        <input type="text" id="lname" name="lastname" placeholder="Your Email">

        <textarea id="subject" name="subject" placeholder="Tell us about desired property"
          style="height:100px"></textarea>

        <p style="font-size: 0.9rem; font-weight: bold; color: #333; margin-top: 0; margin-bottom: 0;">GDPR Agreement *
        </p>

        <p style="font-size: 0.9rem; margin-top: 0.4rem;">
          <input type="checkbox"> I consent to having this website store my submitted information so they can respond to
          my inquiry.
        </p>

        <input type="submit" value="Submit">

      </form>
    </div>

    <span class="phone-icon">
      <i class="fas fa-phone-volume"></i>
    </span>
  </div>
</div>
