<div class="container">
    <div class="props-container">
        <div class="prop" *ngFor="let prop of properties">
            <div class="img-container">
                <img [src]="prop.image_small_url" alt="" />
                <div class="img-overlay">
                    <div
                        class="text-overlay"
                        routerLink="/properties/{{ prop.id }}"
                    >
                        View Property
                    </div>
                </div>

                <div
                    *ngIf="isAuthenticated"
                    (click)="toggleFavorite(prop, $event)"
                    [ngClass]="
                        isFavorite(prop)
                            ? 'heart heart-icon red-heart'
                            : 'heart heart-icon white-heart'
                    "
                >
                    <app-small-loading-spinner
                        style="display: none"
                    ></app-small-loading-spinner>
                    <i class="fas fa-heart"></i>
                </div>

                <div *ngIf="!isAuthenticated">
                    <div class="heart-icon white-heart">
                        <i class="fas fa-heart"></i>
                        <span class="text">Register to save this home</span>
                    </div>
                </div>
            </div>

            <div class="prop-text">
                <h2>{{ prop.title }}</h2>
                <h3>Location: {{ prop.location }}</h3>

                <div class="prop-features">
                    <div>
                        <p>Bedrooms</p>
                        <div class="icon-with-number">
                            <i class="fas fa-bed"></i>
                            {{ prop.beds }}
                        </div>
                    </div>
                    <div>
                        <p>Bathrooms</p>
                        <div class="icon-with-number">
                            <i class="fas fa-shower"></i>
                            {{ prop.baths }}
                        </div>
                    </div>
                    <div>
                        <p>Area</p>
                        <div class="icon-with-number">
                            <i class="fas fa-vector-square"></i>
                            {{ prop.area }}
                        </div>
                    </div>
                </div>

                <div class="prop-price">
                    <h2>
                        <span>For Sale: </span
                        >{{ prop.priceSale | currency: "EUR":"symbol":"1.0-0" }}
                    </h2>
                    <span
                        >{{
                            prop.priceRent | currency: "EUR":"symbol":"1.0-0"
                        }}/Monthly</span
                    >
                </div>
            </div>
        </div>
    </div>
</div>
