<div class="container" *ngIf="isLoading" style="text-align: center">
    <div
        style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
        "
    >
        <img
            style="width: 80px"
            src="assets/images/spinner.gif"
            alt="loading spinner"
        />
    </div>
</div>

<div class="container">
    <div class="props-container">
        <div class="prop" *ngFor="let prop of properties">
            <div class="img-container">
                <img [src]="prop.image_small_url" alt="" />
                <div class="img-overlay">
                    <div
                        class="text-overlay"
                        routerLink="/properties/{{ prop.id }}"
                    >
                        View Property
                    </div>
                </div>

                <div *ngIf="isAuthenticated" class="favorite pointer">
                    <div class="heart-icon">
                        <i
                            (click)="toggleFavorite(prop, $event)"
                            [ngClass]="
                                isFavorite(prop)
                                    ? 'fas fa-heart red-heart'
                                    : 'fas fa-heart white-heart'
                            "
                        ></i>
                    </div>
                    <div class="spinner">
                        <img
                            style="width: 100%"
                            src="assets/images/spinner.gif"
                            alt="loading spinner"
                        />
                    </div>
                </div>

                <div *ngIf="!isAuthenticated" class="favorite white-heart">
                    <div class="heart-icon">
                        <i class="fas fa-heart"></i>
                        <span class="text">Register to save this home</span>
                    </div>
                </div>
            </div>

            <div class="prop-text">
                <h2>{{ prop.title }}</h2>
                <h3>Location: {{ prop.location }}</h3>

                <div class="prop-features">
                    <div>
                        <p>Bedrooms</p>
                        <div class="icon-with-number">
                            <i class="fas fa-bed"></i>
                            {{ prop.beds }}
                        </div>
                    </div>
                    <div>
                        <p>Bathrooms</p>
                        <div class="icon-with-number">
                            <i class="fas fa-shower"></i>
                            {{ prop.baths }}
                        </div>
                    </div>
                    <div>
                        <p>Area</p>
                        <div class="icon-with-number">
                            <i class="fas fa-vector-square"></i>
                            {{ prop.area }}
                        </div>
                    </div>
                </div>

                <div class="prop-price">
                    <h2>
                        <span>For Sale: </span
                        >{{ prop.priceSale | currency: "EUR":"symbol":"1.0-0" }}
                    </h2>
                    <span
                        >{{
                            prop.priceRent | currency: "EUR":"symbol":"1.0-0"
                        }}/Monthly</span
                    >
                </div>
            </div>
        </div>
    </div>
</div>
